* {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align:baseline;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body { 
    min-height: 100vh; 
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
}

.container{
    display: flex;
    height: 60vh;
    width: 100vh;
    flex-direction: column;
    border: 1px solid black;
}

.title{
    display: flex;
    height: 5vh;
    width: 100vh;
    justify-content: center;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    height: 10vh;
    width: 100vh;
}

.submit-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100vh;
}

.alert-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1vh;
    width: 10vh;
    margin-left: 14vh;
    color: #ff0000;
    font-size: 13px;
}

.item-input{
    height: 5vh;
    width: 60vh;
    margin-right: 3vh;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 150%;
}

::-webkit-input-placeholder{
    opacity: .3;
}

.btn-submit{
    height: 5vh;
    width: 10vh;
    font-size: 100%;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}

.btn-clear{
    height: 5vh;
    width: 10vh;
    font-size: 100%;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}

.list-container{
    display: flex;
    margin-top: 10px;
    width: 100vh;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
}

.itens-list-container{
    height: 100%;
    width: 100vh;
}

.btn-clear-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-div{
    display: flex;
    justify-content: space-between;
    width: 100vh;
    height: 2vh;
    margin-bottom: 4px;
}

.btn-delete{
    height: 2vh;
    width: 10vh;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}

.btn-delete{

}

.hide{
    display: none;
    visibility: hidden;
}

.show{
    display: block;
    visibility: visible;    
}